/*
 * Orange
 */
.selectbox.orange {
	border: 1px solid #3d3d3d;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}

.selectbox.orange ol {
	padding: 1px;
	border: 1px solid #3d3d3d;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}

.selectbox.orange li {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}

.selectbox.orange .li-hover {
	background: none repeat scroll 0 0 #FF6D00;
	border: 1px solid #CF5700;
}

.selectbox.orange .current {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}

.selectbox.orange.focus .current {
	-webkit-box-shadow: 0 0 15px rgba(255, 109, 0, 0.7);
	-moz-box-shadow: 0 0 15px rgba(255, 109, 0, 0.7);
	box-shadow: 0 0 15px rgba(255, 109, 0, 0.7);
}

.selectbox.orange .down-arrow {
	-webkit-border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	-o-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
}

.selectbox.orange .current .down-arrow-hover {
	background-color:#FFA35F;
	border-left:1px solid #3d3d3d;
}

/*
 * List
 */
.selectbox.orange.list {
	border: none;
}

.selectbox.orange.list.focus ol {
	-webkit-box-shadow: 0 0 15px rgba(255, 109, 0, 0.7);
	-moz-box-shadow: 0 0 15px rgba(255, 109, 0, 0.7);
	box-shadow: 0 0 15px rgba(255, 109, 0, 0.7);
}